.cube {
    display: inline-block;
justify-content: space-between;
}

body {
    margin: 0;
    padding:0;
    height: 100vh;
background-color: rgb(128, 128, 128);
}

header{
    color: aqua;
    display:flex;
    align-items: center;
    height: 20vh;
}

header h1 {
    align-items: center;
    margin: 0;
    font-size: 100px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header sub-heading{
    margin: 0;
font-size: 40px;
}

h2 {
    align-items: center;
    margin: 0;
    font-size: 100px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2{
    color: rgb(254, 254, 254);
    display: flex;
    align-items: center;
    height: 5vh
}

h3 {
    align-items: center;
    margin: 0;
    font-size: 100px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


h3{
    margin: 0;
font-size: 30px;
}

p{
    color: rgb(254, 254, 254);
    display: flex;
    align-items: center; 
}
